@CHARSET "UTF-8";
*{
	background-color:rgb (240,240,240)
}
#contentTitle{
	margin: 40px
}
#modalContent{
	margin-top: 40px;
	margin-bottom: 70px
}
#registerStaffForm {
	background-color: #EDEDED;
    padding-top: 60px;
    margin-top: 20%;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}


.form-control {
    border-radius: 10px;
}

.col-sm-offset-2 col-sm-10" {
    text-align: center;
}
